@using Microsoft.Owin.Security

@model ByteBank.Forum.ViewModels.AccountLoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.EditorForModel()

    @Html.ActionLink("Esqueci minha senha", "ForgotPassword");

    <input type="submit" value="Login" />
}

@using (Html.BeginForm("LoginByExternalAuthentication", "Account"))
{
    var providers = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    if (providers != null && providers.Any())
    {
        foreach (var provider in providers)
        {
            <button class="btn" type="submit" value="@provider.AuthenticationType" name="provider">
                @provider.Caption
            </button>
        }
    }

    <input type="submit" value="Google" class="btn btn-default" />
}